.uranus_header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: 0 0;
  background-image: linear-gradient(rgba(15,25,50,.5) 0,rgba(15,25,50,.5) 100%);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.uranus_header :global(.ant-menu-horizontal) {
  border-bottom: none;
}

.uranus_header :global(.ant-menu-horizontal) > :global(.ant-menu-item) a {
  color: #fff;
}

.uranus_header :global(.ant-menu-horizontal) > :global(.ant-menu-item) a:hover {
  color: #1890ff;
}

.uranus_header :global(.ant-menu-horizontal) > :global(.ant-menu-item-selected) a {
  color: #1890ff;
}

.uranus_header :global(.ant-menu) {
  background: 0 0;
  color: #fff;
}

.uranus_header_search {
  height: 30px;
  margin: 8px 0 8px 8px;
}

.uranus_header_search :global(.ant-input-group-addon) {
  background: 0 0;
}

.uranus_header_search :global(.ant-input-search-button) {
  background: 0 0;
}

.uranus_header_search :global(.ant-input) {
  background: 0 0;
}

.uranus_header_logo {
  height: 46px;
  text-align: center;
  padding: 0 2px 0 8px;
  float: left;
}

.uranus_header_image {
  width: 80px;
  height: 46px;
  background-image: url(/images/logo-houhou.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.uranus_user_avatar_frontend {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.uranus_user_avatar_backend {
  display: inline-block;
}

.uranus_menu_container::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.uranus_menu_container_left {
  width: 90px;
  float: left;
}

.uranus_menu_container_right {
  overflow: hidden;
}

.uranus_header_login_container {
  text-align: center;
  margin: 8px;
  line-height: 30px;
}

.uranus_header_login, .uranus_header_register {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.uranus_badge {
  font-size: 12px;
  background-color: #f5222d;
  color: #fff;
  border-radius: 50%;
  padding: 2px 3px;
}

.uranus_notification_top {
  margin-top: -12px;
  border-bottom: 1px solid #f0f0f0;
}

.uranus_notification_top_01 {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .uranus_menu_item_hide {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .uranus_nickname {
    display: none;
  }
  .uranus_article_edit {
    display: none;
  }
}
