.uranus-header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: 0 0;
  background-image: linear-gradient(rgba(15,25,50,.5) 0,rgba(15,25,50,.5) 100%);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.uranus-header :global(.ant-menu-horizontal) {
  border-bottom: none;
}

.uranus-header :global(.ant-menu-horizontal) > :global(.ant-menu-item) a {
  color: #fff;
}

.uranus-header :global(.ant-menu-horizontal) > :global(.ant-menu-item) a:hover {
  color: #1890ff;
}

.uranus-header :global(.ant-menu) {
  background: 0 0;
  color: #fff;
}

.uranus-header-search {
  height: 30px;
  margin: 8px 0 8px 8px;
}

.uranus-header-search :global(.ant-input-group-addon) {
  background: 0 0;
}

.uranus-header-search :global(.ant-input-search-button) {
  background: 0 0;
}

.uranus-header-search :global(.ant-input) {
  background: 0 0;
}

.uranus-header-logo {
  height: 46px;
  text-align: center;
  padding: 0 2px 0 8px;
  float: left;
}

.uranus-header-image {
  width: 80px;
  height: 46px;
  background-image: url(/images/logo-houhou.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.uranus-user-avatar-frontend {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.uranus-user-avatar-backend {
  display: inline-block;
}

.uranus-menu-container::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.uranus-menu-container-left {
  width: 90px;
  float: left;
}

.uranus-menu-container-right {
  overflow: hidden;
}

.uranus-header-login-container {
  text-align: center;
  margin: 8px;
  line-height: 30px;
}

.uranus-header-login, .uranus-header-register {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.uranus-badge {
  font-size: 12px;
  background-color: #f5222d;
  color: #fff;
  border-radius: 50%;
  padding: 2px 3px;
}

.uranus-notification-top {
  margin-top: -12px;
  border-bottom: 1px solid #f0f0f0;
}

.uranus-notification-top-01 {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .uranus-menu-item-hide {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .uranus-nickname {
    display: none;
  }
  .uranus-article-edit {
    display: none;
  }
}
