.uranus_admin_breadcrumb_frontend {
  margin: 10px 5px;
  font-weight: 500;
}

.uranus_admin_breadcrumb {
  margin: 16px 0;
}

.uranus_audit_icon {
  margin-right: 10px;
}

.uranus_delete_icon {
  color: red;
}

.uranus_article_amount {
  margin-left: 10px;
  width: 350px;
}