@media screen and (min-width: 321px) {
  .uranus_pay {
    width: 318px !important;
  }
}

@media screen and (max-width: 320px) {
  .uranus_pay {
    width: 95% !important;
  }
}

.pay_item_left {
  text-align: left;
  line-height: 28px;
  font-size: 15px;
  color: #333;
}

.pay_item_right {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.pay_method {
  width: 80%;
  height: 28px;
}

.pay_method_tips {
  font-size: 12px;
  color: red;
}

.pay_tips {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.wechat_pay_icon {
  font-size: 25px;
  color: #03c800;
}

.ali_pay_icon {
  font-size: 25px;
  color: #00a0e9;
}

.uranus_pay_hidden {
  display: none;
}