.uranus-article-detail {
  padding: 8px 12px;
}

.uranus-article-detail .uranus-title {
  margin-top: .5em;
  text-align: center;
}

.uranus-article-detail .uranus-sub-title {
  text-align: center;
  color: #909090;
  font-size: 13px;
  padding: 5px;
}

.uranus-article-code {
  font-family: Menlo, monospace;
}