.uranus_advertisement_card {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advertisement01 {
  width: 100%;
  border-radius: 4px;
}

.advertisement01_wechatpay {
  margin-bottom: -8px;
  width: 100%;
}

.advertisement01_alipay {
  margin-bottom: -8px;
  width: 100%;
}