.uranus_footer {
  width: 100%;
  z-index: 302;
  height: 40px;
  overflow: hidden;
  color: #999;
  zoom: 1;
  margin: 0;
  background-color: #000;
  text-align: center;
  line-height: 40px;
}

.uranus_footer_item {
  margin-left: 10px;
  margin-right: 10px;
  font: 12px arial;
}