.uranus-message-container {
  height: calc(100vh - 40px);
  background-color: transparent;
  padding-top: 50px;
  margin-bottom: 40px;
}

.message-submit {
  position: absolute;
  width: 450px;
  margin: 0 ;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}