.uranus-menu-container::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.uranus-menu-container-left {
  width: 90px;
  float: left;
}

.uranus-menu-container-right {
  overflow: hidden;
}

.uranus-header-search {
  width: 100%;
}

.uranus-header-login-container {
  text-align: center;
  margin: 8px;
  line-height: 30px;
}

.uranus-header-login, .uranus-header-register {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}