.uranus-card {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.uranus-article-image-container {
  border: 0;
  border-radius: 4px;
  margin-top: .5em;
  margin-bottom: 1em;
  transition: all .2s;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2) !important;
}

.uranus-article-image-sub {
  border-radius: 4px;
  overflow: hidden;
}

.uranus-article-image {
  height: 250px;
  position: relative;
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-image: url(https://img.houhoukang.com/uranus/system/default-cover.jpg);
}

.uranus-article-desc {
  font-family: arial;
  font-size: 14px;
  color: #333;
}

@media screen and (min-width: 1200px) {
  .uranus-article-image-container:hover .uranus-article-image {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    filter: blur(2px);
  }
}