.layout {
  min-height: 100vh !important;
}

.logo {
  height: 32px;
  margin: 16px;
  background-image: url(/images/logo-houhou.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  cursor: pointer;
}

.header {
  padding: 0 16px 0 0 !important;
  background-color: #fff !important;
  text-align: right;
}

.content {
  margin: 0 16px;
}