@media screen and (min-width: 321px) {
  .uranus-auth {
    width: 318px !important;
  }
}

@media screen and (max-width: 320px) {
  .uranus-auth {
    width: 95% !important;
  }
}

.uranus-auth-prefix {
  color: #807c7c;
}

.uranus-prompt-box {
  display: flex;
  justify-content: space-between;
}

.uranus-auth-third {
  display: flex;
  justify-content: center;
}

.uranus-auth-third-item {
  margin: 0 12px;
}