.uranus-comment-editor-container {
  font: 12px arial;
  display: flex;
  position: relative;
  margin: 15px 0;
  padding: 10px 15px;
  background-color: #ebf0f5;
  border-radius: 3px;
}

.uranus-avatar-box {
  flex: 0 0 auto;
}

.uranus-avatar-box .comment-avatar {
  display: inline-block;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eee;
  margin: 0 12px 0 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.uranus-form-box {
  flex: 1 1 auto;
  position: relative;
}

.uranus-form-box .input-box {
  font-size: 0;
  background-color: #fff;
  border: 1px solid #007fff;
  border-radius: 3px;
}

.uranus-comment-editor {
  position: relative;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.7;
  color: #17181a;
  outline: none;
  min-height: 32px;
}

.uranus-mention {
  color: #ff8f18;
}

.uranus-comment-editor:empty::before {
  content: attr(placeholder);
  position: absolute;
  opacity: .4;
  pointer-events: none;
  user-select: none;
}

.mention-box {
  position: absolute;
  background-color: #fff;
  padding: 2px;
  width: 165px;
  max-height: 178px;
  overflow-y: auto;
  border-radius: 3px;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.mention-item {
  padding: 6px 8px;
  margin: 0;
  color: #333;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mention-item:hover {
  background-color: #f2f2f5;
  color: #eb7350;
}

.uranus-form-box .action-box {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.action-box .emoji {
  position: relative;
}

.emoji .emoji-box {
  display: flex;
  align-items: center;
  position: relative;
  color: #027fff;
  cursor: pointer;
  font-size: 18px;
}

.emoji-container {
  width: 186px;
}

.emoji-dots li button {
  background: #364d79 !important;
}

.emoji-dots li.slick-active button {
  background: #015fcc !important;
}

.emoji-container .slick-dots-bottom {
  bottom: 0 !important;
  margin-bottom: 2px !important;
}

.emoji-content {
  overflow: auto;
  margin-bottom: 10px;
}

.emoji-picker .emojis {
  max-width: 280px;
  max-height: 225px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.emoji-picker .emojis .item {
  font-size: 16px;
  padding: 5px 4.5px;
  cursor: pointer;
  list-style: none;
}

.emoji-element {
  width: 22px;
  height: 22px;
  display: block;
  border-style: none;
}

.uranus-emoji {
  vertical-align: sub;
  width: 16px;
  height: 16px;
  cursor: default;
  margin: 0 1px;
}

.emoji-element:hover {
  transition: all .3s;
  transform: scale(1.3);
}

.action-box .submit {
  flex: 0 0 auto;
  margin-left: auto;
}