.uranus-success {
  background-color: #b7eb8f;
  padding: 20px;
  border-radius: 6px;
  margin: 5px 0;
}

.uranus-warning {
  background-color: #ff8;
  padding: 20px;
  border-radius: 6px;
  margin: 5px 0;
}

.uranus-error {
  background-color: #ffccc7;
  padding: 20px;
  border-radius: 6px;
  margin: 5px 0;
}

.custom-html-style code{
  padding: .5em !important;
}

.custom-html-style pre {
  padding: 0 !important;
}

.custom-html-style .hljs {
  background-color: #1E1E1E !important;
}

.uranus-404 {
  height: 100vh;
  margin-top: 47px;
  background-color: ivory;
}

.uranus-403 {
  height: 100vh;
  background-color: ivory;
}