.uranus-layout {
  min-height: 100vh;
}

.uranus-admin-logo {
  height: 32px;
  margin: 16px;
  background-image: url(../../assets/images/logo-houhou.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  cursor: pointer;
}

.uranus-admin-header {
  padding: 0 16px 0 0;
  background-color: #fff;
  text-align: right;
}

.uranus-admin-content {
  margin: 0 16px;
}

.uranus-admin-breadcrumb {
  margin: 16px 0;
}

.uranus-audit-icon {
  margin-right: 10px;
}

.uranus-delete-icon {
  color: red;
}

.uranus-margin-left8 {
  margin-left: 8px;
}

.uranus-width100 {
  width: 100%;
}

.uranus-article-amount {
  margin-left: 10px;
  width: 350px;
}