@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.uranus-success {
  background-color: #b7eb8f;
  padding: 20px;
  border-radius: 6px;
  margin: 5px 0;
}

.uranus-warning {
  background-color: #ff8;
  padding: 20px;
  border-radius: 6px;
  margin: 5px 0;
}

.uranus-error {
  background-color: #ffccc7;
  padding: 20px;
  border-radius: 6px;
  margin: 5px 0;
}

.custom-html-style code:not(.uranus-article-code) {
  color: #f77e29 !important;
  background-color: #eaeaea59 !important;
}

.custom-html-style pre {
  padding: 0 !important;
  background-color: #fbe5e1 !important;
}

.uranus-article-code {
  font-family: Menlo, monospace;
  padding: .5em !important;
  background-color: #1C1D21!important;
}

.uranus-404 {
  height: 100vh;
  margin-top: 47px;
  background-color: ivory;
}

.uranus-403 {
  height: 100vh;
  background-color: ivory;
}

.uranus-article-tag-select {
  width: 100%;
}

.uranus-row {
  margin-bottom: 15px;
}

.uranus-row-first {
  margin-top: 15px;
}

.uranus-row .save {
  text-align: center;
}

.uranus-row-select {
  width: 100%;
}

.uranus-margin-right-8 {
  margin-right: 8px;
}

.uranus-margin-left8 {
  margin-left: 8px;
}

.uranus-width100 {
  width: 100%;
}
